name: Test

on:
  push:
    branches:
      - main

jobs:
  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: irgaly/setup-mint@main
        with:
          mint-directory: example
      - shell: bash -xe {0}
        run: |
          ls -alh /usr/local/bin | grep mint
          mint --version
          mint list
          ls -alh ~/.mint
          ls -alh ~/.mint/bin
          ls -alh ~/.mint/packages/*/build/*
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: irgaly/setup-mint@main
        with:
          mint-directory: example
      - shell: bash -xe {0}
        run: |
          ls -alh /usr/local/bin | grep mint
          mint --version
          mint list
          ls -alh ~/.mint
          ls -alh ~/.mint/bin
          ls -alh ~/.mint/packages/*/build/*
